html, body {
	height: 100%;
	width: 100%;
	margin: 0px;
}

.left_table {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/default/top_04.png",
		sizingMethod='crop');
}

body {
	font-size: 12px;
}

a:link {
	COLOR: #0000ff;
	TEXT-DECORATION: none
}

a:visited {
	COLOR: #0000ff;
	TEXT-DECORATION: none
}

a:hover {
	COLOR: #ff0000;
	TEXT-DECORATION: none
}

#header {
	margin: 0 auto;
	width: 100%;
	overflow: visible;
	z-index: 2000;
}

#outlook li {
	height: 20px;
	padding-top: 10px;
	padding-left: 8px;
}

#main {
	clear: both;
	padding-top: 1px;
	border: 0px;
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

#main .Pane {
	overflow: auto;
	background: #def;
}

#leftpanel {
	float: left;
	left: 0px;
	height: 100%;
	width: 151px;
	background: white;
	z-index: 0;
}

#rightpanel {
	float: left;
	width: 70%;
	height: 100%;
	z-index: 0;
	background: white;
	overflow: hidden;
}

#bottom {
	bottom: 0px;
	clear: both;
	position: absolute;
	margin: 0 auto;
	width: 100%;
	height: 24px;
	vertical-align: middle;
	z-index: 2;
	background: url(../images/default/footerbg.gif) repeat-x left top;
}

.vsplitbar {
	width: 5px;
	background: #88b3ee url(../images/default/vgrabber.gif) no-repeat center;
}

.vsplitbar:hover, .vsplitbar.active {
	background: #88b3ee url(../images/default/vgrabber.gif) no-repeat center;
	opacity: 0.7;
	filter: alpha(opacity = 70); /* IE */
}

.hsplitbar {
	height: 5px;
	background: #88b3ee url(../images/default/hgrabber.gif) no-repeat center;
}

.hsplitbar.active, .hsplitbar:hover {
	background: #88b3ee url(../images/default/hgrabber.gif) no-repeat center;
	opacity: 0.7;
	filter: alpha(opacity = 70); /* IE */
}

.docked {
	width: 5px;
	background: #88b3ee url(../images/default/vdockbar.gif) no-repeat center;
}

.splitterMask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-image: url(../images/default/spacer.gif);
	z-index: 20000;
}

.inner-vsplitbar {
	width: 5px;
	background: #C4DCFB url(../images/default/vgrabber.gif) no-repeat center;
}

.inner-vsplitbar:hover, .inner-vsplitbar.active {
	background: #C4DCFB url(../images/default/vgrabber.gif) no-repeat center;
	opacity: 0.7;
	filter: alpha(opacity = 70); /* IE */
}

.inner-hsplitbar {
	height: 5px;
	background: #C4DCFB url(../images/default/hgrabber.gif) no-repeat center;
}

.inner-hsplitbar.active, .inner-hsplitbar:hover {
	background: #C4DCFB url(../images/default/hgrabber.gif) no-repeat center;
	opacity: 0.7;
	filter: alpha(opacity = 70); /* IE */
}

.inner-docked {
	width: 5px;
	background: #C4DCFB url(../images/default/vdockbar.gif) no-repeat center;
}

.top_word {
	font-family: "����";
	font-size: 12px;
	color: #000000;
	padding-top: 3px;
}

.footer_word {
	text-align: center;
	font-family: "����";
	font-size: 12px;
	color: #000000;
	padding-top: 0px;
	background: url(../images/default/footerbg.gif) repeat-x left top;
	line-height: 25px;
}

.menubar {
	background-image: url("../images/default/menu-bg1.jpg");
	width: 100%;
	height: 26px;
}

#appmenu ul {
	background: none repeat scroll 0 0 #4187df;
	position: relative;
}

a.top-has-child {
	background-image: url("../images/default/submenu-down.gif");
	background-position: 98% 50%;
	background-repeat: no-repeat;
}

a.item-has-child {
	background-image: url("../images/default/submenu-right.gif");
	background-position: 100% 50%;
	background-repeat: no-repeat;
	padding-right: 9px;
}

#appmenu, #appmenu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#appmenu li {
	float: left;
	position: relative;
	line-height: 24px;
	font-size: 14px;
	width: 150px;
	text-align: left;
	z-index: 100 !important;
}

#appmenu li ul {
	position: absolute;
	margin-top: 0;
	margin-left: .0; /* for IE */
	display: none;
}

#appmenu ul li ul {
	margin-top: -25px;
	margin-left: 140px;
}
/* ******************************************************************* */
/* SHOW SUBMENU  1 */
#appmenu li:hover ul, #appmenu li.over ul {
	display: block;
}

#appmenu li:hover ul ul, #appmenu li.over ul ul {
	display: none;
}
/* SHOW SUBMENU  2 */
#appmenu ul li:hover ul, #appmenu ul li.over ul {
	display: block;
}
/* ******************************************************************* */
/* STYLING UP THE LINKS */
#appmenu a {
	display: block;
	text-decoration: none;
	padding: 0 10px;
	font-weight: bold;
	color: #ffffff;
}

#appmenu a:visited {
	color: #ffffff;
}

#appmenu a:hover {
	background-image: url("../images/default/oa_inx_07.gif");
	color: #033C99;
}

#appmenu ul {
	border-top: 1px solid #cccccc;
}

#appmenu ul a {
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
}

/* ******************************************************************* */

/* Fix IE. Hide from IE Mac \*/
#appmenu ul li {
	float: left;
	height: 1%;
}

#appmenu ul li a {
	height: 1%;
}

.childmenu {
	position: relative;
	float: left;
	z-index: 100;
}

.childmenu:hover {
	cursor: pointer;
}

#mymenu li, #mymenu li a {
	font-size: 14px;
	line-height: 24px;
	text-decoration: none;
	cursor: pointer;
	font-weight: bold;
	margin: 0px;
	z-index: 101 !important;
}

#mymenu li a {
	text-decoration: none;
	padding: 0 10px;
	color: #ffffff;
	display: block;
	text-align: left;
	width: 80px;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
}

#mymenu  li a:hover {
	text-decoration: none;
	background-color: #81b4df;
	color: #fff;
}

#mymenu {
	background: none repeat scroll 0 0 #4187df;
	position: absolute;
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: none;
	z-index: 101 !important;
}

.accordionWrapper {
	display: inline-block;
	background-image: url("../images/oa_inx_16.jpg");
	background-repeat: x-repeat;
	background-repeat: y-repeat;
	padding-right: 0px;
	border-width: 1px;
	border-color: #A9BFD3;
	border-style: solid solid none solid;
}

.accordionWrapper img {
	vertical-align: top;
	border: 0;
	margin: 0;
	padding: 0
}

.accordionWrapper div {
	display: inline;
	float: left;
	margin: auto;
}

.accordionWrapper div.ac-title {
	background-image: url(../images/default/title-bg.gif);
	cursor: pointer;
	overflow: hidden;
	height: 24px;
	border-bottom: 1px solid #A9BFD3;
	font-size: 12px;
	z-index: 2;
}

.accordionWrapper div.ac-titleword {
	float: left;
	vertical-align: middle;
	background-image: url(../images/default/calendar.png);
	background-position: 6px 5px;
	background-repeat: no-repeat;
	font-size: 14px;
	padding-left: 23px;
	padding-top: 5px;
}

.accordionWrapper div.ac-content {
	width: 100%;
	border-bottom: 1px solid #A9BFD3;
	display: none;
	visibility: visible;
	z-index: 1;
	overflow-x: hidden;
	overflow-y: auto;
}

.accordionWrapper a {
	color: black;
}

.accordion-open .icon {
	float: right;
	background-position: center 6px;
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
	background-image: url(../images/default/ns-expand.gif);
	overflow: hidden;
}

.accordion-close .icon {
	float: right;
	background-position: center 6px;
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
	background-image: url(../images/default/expand.gif);
	overflow: hidden;
}

.tabs-container {
	overflow: hidden;
	background: #fff;
}

.tabs-header {
	border: 0px solid #8DB2E3;
	border-bottom: 0px;
	position: relative;
	overflow: hidden;
	padding: 0px;
	padding-top: 2px;
	overflow: hidden;
}

.tabs-header-noborder {
	border: 0px;
}

.tabs-header-plain {
	border: 0px;
	background: transparent;
}

.tabs-scroller-left {
	position: absolute;
	left: 0px;
	top: 1px;
	width: 18px;
	height: 20px !important;
	height: 20px;
	border: 1px solid #8DB2E3;
	font-size: 1px;
	display: none;
	cursor: pointer;
	background: url(../images/default/tabs_leftarrow.png) no-repeat 1px 2px;
}

.tabs-scroller-right {
	position: absolute;
	right: 0;
	top: 1px;
	width: 18px;
	height: 20px !important;
	height: 20px;
	border: 1px solid #8DB2E3;
	font-size: 1px;
	display: none;
	cursor: pointer;
	background: url(../images/default/tabs_rightarrow.png) no-repeat 2px 2px;
}

.tabs-header-plain .tabs-scroller-left {
	top: 2px;
	height: 25px !important;
	height: 27px;
}

.tabs-header-plain .tabs-scroller-right {
	top: 2px;
	height: 25px !important;
	height: 27px;
}

.tabs-scroller-over {
	background-color: #ECF9F9;
}

.tabs-wrap {
	position: relative;
	left: 0px;
	overflow: hidden;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.tabs-scrolling {
	margin-left: 18px;
	margin-right: 18px;
}

.tabs {
	list-style-type: none;
	height: 20px;
	margin: 0px;
	padding: 0px;
	padding-left: 4px;
	font-size: 12px;
	width: 5000px;
	border-bottom: 1px solid #8DB2E3;
}

.tabs li {
	float: left;
	display: inline-block;
	margin1: 0px 1px;
	margin-right: 4px;
	margin-bottom: -1px;
	padding: 0;
	position: relative;
	border: 1px solid #8DB2E3;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}

.tabs li a.tabs-inner {
	display: inline-block;
	text-decoration: none;
	color: #416AA3;
	background: url(../images/default/tabs_enabled.png) repeat-x left top;
	margin: 0px;
	padding: 0px 10px;
	height: 19px;
	line-height: 19px;
	text-align: center;
	white-space: nowrap;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}

.tabs li a.tabs-inner:hover {
	background: url(../images/default/tabs_active.png) repeat-x left bottom;
}

.tabs li.tabs-selected {
	border: 1px solid #8DB2E3;
	border-bottom: 1px solid #fff;
	border-top1: 2px solid #8DB2E3;
}

.tabs li.tabs-selected a {
	color: #416AA3;
	font-weight: bold;
	background: #fff;
	background: #7eabcd url(../images/default/tabs_active.png) repeat-x left
		bottom;
	outline: none;
}

.tabs li.tabs-selected a:hover {
	cursor: default;
	pointer: default;
}

.tabs-with-icon {
	padding-left: 20px;
}

.tabs-icon {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 10px;
	top: 2px;
}

.tabs-closable {
	padding-right: 8px;
}

.tabs li a.tabs-close {
	position: absolute;
	font-size: 1px;
	display: block;
	padding: 0px;
	width: 11px;
	height: 11px;
	top: 3px;
	right: 3px;
	opacity: 0.6;
	filter: alpha(opacity = 60);
	background: url(../images/default/tabs_close.gif) no-repeat;
}

.tabs li a:hover.tabs-close {
	opacity: 1;
	filter: alpha(opacity = 100);
	cursor: hand;
	cursor: pointer;
}

.tabs-panels {
	margin: 0px;
	padding: 0px;
	border: 1px solid #8DB2E3;
	border-top: 0px;
	overflow: auto;
}

.tabs-panels-noborder {
	border: 0px;
}

.imghiddenopt {
	BACKGROUND: url(../images/default/hideopt.gif) no-repeat;
	cursor: pointer;
	float: right;
	height: 20px;
	overflow: hidden;
	width: 20px;
}

.imgshowopt {
	BACKGROUND: url(../images/default/showopt.gif) no-repeat;
	cursor: pointer;
	float: right;
	height: 20px;
	overflow: hidden;
	width: 20px;
}