<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>MMS计划任务管理系统</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
	href="/css/bootstrap.min.css" />
</head>
<body onload="document.form.username.focus();">
	<div class="container">
		<div class="navbar">
			<div class="navbar-inner">
				
			</div>
		</div>
		<div class="content">
			<p th:if="${param.logout}" class="alert">已经登出</p>
			<p th:if="${param.error}" class="alert alert-error">用户名或密码错误！</p>
			<h2>MMS计划任务管理系统</h2>
			<form name="form" action="/login" method="POST">
				<fieldset>
					<input type="text" name="username" value="" placeholder="Username" />
					<br />
					<input type="password" name="password" placeholder="Password" />
				</fieldset>
				<input type="submit" id="login" value="登录"
					class="btn btn-primary" /> 
			</form>
		</div>
	</div>
</body>
</html>