<!DOCTYPE html>
<html>
	<head>
		<title>MMS计划任务管理系统 -- 计划任务管理</title>
		<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
		<link rel="stylesheet" href="/ext/ext-all.css" />
		<link rel="stylesheet" href="/css/schedule.css" />
		<script type="text/javascript" src="/ext/ext-all.js"></script>
		<script type="text/javascript" src="/ext/ext-theme-classic.js"></script>
		
		<script type="text/javascript" src="/js/schedule.js"></script>
		<script type="text/javascript" src="/js/shared/purl.js"></script>
	</head>
	<body>
	</body>
</html>