body {
	background-color: #f7f7f9
}

.container {
	height: 100%;
}

.talk-top {
	height: 100px;
}

.talk-list {
	border: 1px solid #e1e1e8;
	overflow: auto;
	min-height: 300px;
}

.talk-item {
	border-bottom: 1px solid #e1e1e8;
}

.talk-robot {
}

.talk-me {
	text-align: right;
}

.talk-space {
	height: 10px;
}

.talk-buttom {
	height:100px;
}

.talk-send > div.col.description {
	text-align: right;
}

.talk-input-box {
	width: 100%;
}

